.comments{
    width: 550px;
    &__title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__empty{
        margin-bottom: 30px;
    }
    .comment{
        position: relative;
        background-color: white;
        box-shadow: $shadow;
        margin-bottom: 20px;
        padding: 40px 70px;
        box-sizing: border-box;
        &__owner{
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 20px;
        }
        &__content{
            line-height: $line-height-base;
        }
        &__ownerImg{
            background-color: $main-color;
            width: 90px;
            height: 90px;
            position: absolute;
            left: -45px;
            top: calc(50% - 45px);
            border-radius: 50%;
            background-image: url('../../img/user.svg');
            background-size: 50%;
            background-position: center 47%;
            background-repeat: no-repeat;
            &--true{
                width: 90px;
                height: 90px;
                background: white;
                position: absolute;
                left: -45px;
                top: calc(50% - 45px);
                border-radius: 50%;
                border: 2px solid $main-color;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                     width: 100%;
                    height: 90px;
                    object-fit: cover;
                }
            }
        }
    }
}

.addComment{
    width: 550px;
    margin-top: 50px;
    &__label{
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__textarea{
        resize: vertical;
        width: 100%;
        display: block;
        border: none;
        background-color: $main-color;
        color: white;
        font-size: 17px;
        box-sizing: border-box;
        padding: 15px;
        outline: none;
        min-height: 150px;
        margin-bottom: 30px;
    }
    &__button{
        @include main-link(black, 20px);
        background-color: initial;
        border: none;
        margin-left: 15px;
        outline: none;
        font-family: $font-family-sans-serif;
    }
}

@media(max-width: 1050px){
    .comments{
        width: 100%;
    }

    .addComment{
        width: 100%;
    }
}

@media(max-width: 520px){
    .comments{
        .comment{
            padding: 50px 30px;
            &__ownerImg{
                display: none;
                &--true{
                    display: none;
                }
            }
        }
    }
}
