.aside{
    background-color: $main-color;
    width: 274px;
    box-sizing: border-box;
    position: fixed;
    padding: 30px 0;
    top: 100px;
    right: 70px;
    color: white;
    box-shadow: $shadow;


    // Style pour le filte de la page Search

    .filter__title{
        font-size: 20px;
        font-weight: bold;
        padding:  0 30px;
        margin-bottom: 30px;
    }
    .filter__name__job{
        div{
            padding: 20px 30px;
            margin-bottom: 10px;
            transition: background-color 0.2s;
            cursor: pointer;
            &.active{
                background-color: rgba($color: white, $alpha: 0.2);
            }
            &:hover{
                background-color: rgba($color: white, $alpha: 0.2);
                transition: background-color 0.2s;
            }
        }
    }
    .filter__input{
        outline: none;
        font-size: 20px;
        background-color: initial;
        border: none;
        color: white;
        border-bottom: 2px solid white;
        display: block;
        margin: 30px;
        box-sizing: border-box;
        padding: 10px;
    }


    // Style pour l'aside de la page profil

    &__title{
        font-size: 20px;
        font-weight: bold;
        padding:  0 30px;
        margin-bottom: 30px;
    }
    &__list{
        margin: 30px;
        li{
            margin: 10px 0;
            display: block;
        }

    }
    &__link{
        @include main-link(white, 20px);
        display: inline-block;
        margin-left: 30px;
    }

}
