.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    box-sizing: border-box;
    padding: 0 14px;

    &.black{
        background-color: $main-color;
    }
    &.green{
    background-color: rgb(29, 65, 29);
    }
    &.red{
    background-color: rgb(113, 39, 39);
    }
    &.brown{
    background-color: #c97f51;
    }
    &__logo{
        position: relative;
        color: white;
        font-weight: bold;
        font-size: 30px;
        a{
            color: white;
            text-decoration: none;
        }
    }
    &__right{
        display: flex;
        align-items: center;
        &__profile{
            box-sizing: border-box;
            padding: 17px;
            color: white;
            margin-right: 30px;
            font-size: 16px;
            display: flex;
            align-items: center;
            transition: background-color 0.2s;
            text-transform: capitalize;

            cursor: pointer;
            .profilePic--false{
                width: 25px;
                height: 25px;
                background-color: $main-color;
                margin-left: 10px;
                border-radius: 50%;
                background-image: url('../../img/user.svg');
                background-size: 50%;
                background-position: center 47%;
                background-repeat: no-repeat;
            }
            .profilePic--true{
                width: 25px;
                height: 25px;
                margin-left: 10px;
                border-radius: 50%;
                border: 1px solid white;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 25px;
                    object-fit: cover;
                }
            }
            &:hover{
                background-color: rgba($color: white, $alpha: 0.2);
                transition: background-color 0.2s;
            }
        }
        &__title{
            color: white;
            padding: 17px 0;
        }
    }
}


@media(max-width: 500px){
    .header__right__profile{
        display: none;
    }
}
