.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    box-sizing: border-box;
    padding: 14px;
    &.black{
        background-color: $main-color;
    }
    &.green{
    background-color: rgb(29, 65, 29);
    }
    &.red{
    background-color: rgb(113, 39, 39);
    }
    &.brown{
    background-color: #c97f51;
    }
    &__logo{
        position: relative;
        color: white;
        font-weight: bold;
        font-size: 30px;
        a{
            color: white;
            text-decoration: none;
        }
    }
    &__title{
        color: white;
    }
}
