.popup{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba($color: black, $alpha: 0.5);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    &.open{
        display: flex;
    }
    &__window{
        max-height: 90vh;
        position: relative;
        background-color: white;
        box-shadow: $shadow;
        width: 600px;
        padding: 20px;
        border-radius: 3px;
        &__title{
            color: $main-color;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        &__input{
            padding: 10px 20px;
            display: flex;
            align-items: center;
            color: white;
            position: relative;
            margin-bottom: 20px;
            //background-color: rgba($color: black, $alpha: 0.2);
            &.black{
                border-bottom: 2px solid $main-color;
            }
            &.green{
                border-bottom: 2px solid rgb(29, 65, 29);
            }
            &.red{
                border-bottom: 2px solid rgb(113, 39, 39);
            }
            &.brown{
                border-bottom: 2px solid #c97f51;
            }

            &--textarea{
                align-items: flex-start;
                label{
                    padding-top: 10px;
                }
                textarea{
                    flex: initial;
                }
            }

            label{
                font-weight: bold;
                margin-right: 10px;
                color: $main-color;
            }
            input, textarea{
                flex: 1 1 auto;
                //color: white;
                border:none;
                background-color: initial;
                outline: none;
                font-size: 20px;
                resize:none;
                &.black{
                    background-color: $main-color;
                }
                &.green{
                    background-color: rgb(29, 65, 29);
                }
                &.red{
                    background-color: rgb(113, 39, 39);
                }
                &.brown{
                    background-color: #c97f51;
                }
            }
            input:focus ~ .popup__window__input__bgc, textarea:focus ~ .popup__window__input__bgc{
                top: 0;
                transition: top 0.2s;
            }
            &__bgc{
                position: absolute;
                top:100%;
                bottom: 0;
                left:0;
                right:0;
                transition: top 0.2s;
                &.black{
                    background-color: rgba($color: $main-color, $alpha: 0.2);

                }
                &.green{
                    background-color: rgba($color: rgb(29, 65, 29), $alpha: 0.2);

                }
                &.red{
                    background-color: rgba($color: rgb(113, 39, 39), $alpha: 0.2);

                }
                &.brown{
                    background-color: rgba($color: #c97f51, $alpha: 0.2);

                }
            }
        }

        &__hour{
            color: $main-color;
            margin-bottom: 20px;
            font-size: 23px;
        }

        &__hour__sign{
            display: block;
            width: 30px;
            height: 30px;
            background-image: url('../../img/back.svg');
            transform: rotate(-90deg);
            //background-repeat: no-repeat;
            margin-bottom: 20px;
            margin-left: 50px;
            background-size: contain;

        }

        &__buttons{
            display: flex;
        }

        &__save{
            @include main-link(black, 18px);
            background-color: initial;
            border: none;
            margin-top: 20px;
            margin-left: 15px;
            outline: none;
            font-family: $font-family-sans-serif;
        }
        &__close{
            position: absolute;
            top: 0;
            right: 0;
            &--cross{
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;
                width: 10px;
                height: 10px;
                background-image: url('../../img/close-black.svg');
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
            }

        }

        &__userInfos{
            div{
                margin-bottom: 10px;
                span{
                    font-weight: bold;
                }
            }
        }

        &__clientList{
            background-color: rgba($color: $main-color, $alpha: 0.2);
            height: 150px;
            box-sizing: border-box;
            overflow-y: scroll;
            box-shadow: $shadow;
            .client{
                box-sizing: border-box;
                background-color: rgba($color: $main-color, $alpha: 0.2);
                padding: 10px 20px;
                margin: 10px 0;
                cursor: pointer;
                &:hover{
                    background-color: $main-color;
                    color: white;
                }
            }
        }

    }

}

@media(max-width: 590px){
    .popup{
        box-sizing: border-box;
        padding: 10px;
        &__window{
            width: 100%;
            &__input{
                width: 100%;
                box-sizing: border-box;
            }
            &__textarea{
                width: 100%;
                box-sizing: border-box;
            }

        }
    }
}
