.emptyDay{
    width: 550px;
    padding: 20px 40px;
    background-color: rgba(yellow, 0.3);
    line-height: 1.5;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.modifyAppointment{
    width: 550px;
    padding: 20px 40px;
    color: white;
    background-color: $main-color;
    line-height: 1.5;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
    &__cross{
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 10px;
        height: 10px;
        background-image: url('../../img/close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}
.schedule__list{
    width: 550px;
    margin-bottom: 80px;
    li{
        color: $main-color;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        letter-spacing: 1.3px;
    }
    &__hour{
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: $shadow;
        width: 100px;
        margin-right: 15px;
    }
    &__appointment{
       padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: $shadow;
        flex: 1 1 auto;
        cursor: pointer;
        &.myAppointment{
            background-color: rgb(115, 171, 115);
            position: relative;
            a{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .cross{
                width: 15px;
                height: 15px;
                position: absolute;
                top: 2px;
                right: 2px;
                div{
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    top: calc(50% - 1px);
                    &.first{
                        transform: rotate(45deg)
                    }
                    &.second{
                        transform: rotate(-45deg)
                    }
                }
            }
        }
        &.false{
            display: none;
        }
    }
}

@media(max-width: 1050px){
    .modifyAppointment{
        width: 100%;
    }
    .emptyDay{
        width: 100%;
    }
    .schedule__list{
        width: 100%;
    }
}
