.userProfil{
    width: 550px;
    margin-bottom: 50px;
    &__img--true{
        width: 100px;
        height: 100px;
        background-color: $main-color;
        display: block;
        float: left;
        border-radius: 50%;
        position: relative;
        margin-left: -45px;
        .cross__first{
            display: block;
            width: 40px;
            height: 3px;
            position: absolute;
            top: calc(50% - 1.5px);
            left: calc(50% - 20px);
            background-color: white;

        }
        .cross__second{
            display: block;
            width: 40px;
            height: 3px;
            position: absolute;
            top: calc(50% - 1.5px);
            left: calc(50% - 20px);
            background-color: white;
            transform: rotate(90deg);

        }

    }
    &__pic{
        width: 100px;
        height: 100px;
        float: left;
        border-radius: 50%;
        position: relative;
        margin-left: -45px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 2px solid $main-color;
        background: white;
        img{
             width: 100%;
            height: 100px;
            object-fit: cover;
        }
    }
    &__img--false{
        width: 100px;
        height: 100px;
        background-color: $main-color;
        display: block;
        float: left;
        border-radius: 50%;
        position: relative;
        margin-left: -45px;
        background-image: url('../../img/user.svg');
        background-size: 50%;
        background-position: center 47%;
        background-repeat: no-repeat;
    }
    &__name{
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 5px;
        padding-top: 10px;
        margin-left: 70px;
        display: flex;
        align-items: center;

    }
    &__job{
        font-size: 30px;
        //margin-bottom: 15px;
        display: block;
        margin-left: 70px;
        text-transform: capitalize;


    }
    &__infos{
        margin-left: 4px;
        padding: 20px;
        border-left: 4px solid $main-color;
        margin-top: 30px;
        &.create{
            margin-top: 65px;
        }

    }
    &__info{
        margin-bottom: 15px;
        &__label{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;

        }
        &__content{
            line-height: $line-height-base;
        }
        &--buttons{
            margin-top: 30px;
        }
        &__colorPicker{
            display: flex;
            margin-top: 10px;
            align-items: center;

            .color{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 10px;
                border: 2px solid white;

                &:hover{
                    cursor: pointer;
                     border: 2px solid $main-color;

                }
                &.selected{
                    border: 2px solid $main-color;
                }
                &.black{
                    background-color: $main-color;
                }
                &.green{
                    background-color: rgb(29, 65, 29);
                }
                &.red{
                    background-color: rgb(113, 39, 39);
                }
                &.brown{
                    background-color: #c97f51;
                }
            }
        }
    }
}

@media(max-width: 1050px){
    .userProfil{
        width: 100%;
    }
}

@media(max-width: 520px){
    .userProfil{
         &__img--true{
             float: none;
             margin: 0 auto;
         }
         &__img--false{
             float: none;
             margin: 0 auto;
         }
         &__pic{
             float: none;
             margin: 0 auto;

         }
         &__name{
            text-align: center;
            margin-left: 0;

        }
        &__job{
            text-align: center;

            margin-left: 0;

        }
    }
}
