.userCards{
    width: 550px;
    .userCard{
        position: relative;
        background-color: white;
        box-shadow: $shadow;
        padding: 50px 70px;
        box-sizing: border-box;
        margin-bottom: 20px;
        &__img{
            background-color: $main-color;
            width: 90px;
            height: 90px;
            position: absolute;
            left: -45px;
            top: calc(50% - 45px);
            border-radius: 50%;
            background-image: url('../../img/user.svg');
            background-size: 50%;
            background-position: center 47%;
            background-repeat: no-repeat;
        }
        &__name{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 20px;
        }
        &__job{
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}
