.welcome{
    background-color: $main-color;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    &__desc{
        color: white;
        font-size: 20px;
        margin: 0 40px 40px;
        text-align: center;
        line-height: 1.5;
    }

    &__success{
        min-width: 550px;
        margin: 0 auto 20px;
        background-color: rgba($color: white, $alpha: 0.7);
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
    }
    &__infos{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        background-color: rgba($color: white, $alpha: 0.5);
        color: $main-color;
        border-radius: 50%;
        transition: background-color 0.3s;
        &:hover{
        background-color: rgba($color: white, $alpha: 1);
        transition: background-color 0.3s;

        }
    }

    &__bgc{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;
        // background-image: url('../../img/calendar2.jpg');
        // background-size: 100%;
        // background-position: center center;
        // background-repeat: no-repeat;
        img{
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    &__container{
        position: relative;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;

    }
    &__back{
        width: 100px;
        height: 100px;
        display: block;
        position: absolute;
        top: 30px;
        left: 75px;
        background-image: url('../../img/back-white.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        opacity: 0.3;
        transition: opacity 0.3s;
        &:hover{
            opacity: 1;
            transition: opacity 0.3s;

        }
    }

    &__title{
        font-size: 68px;
        font-weight: bold;
        text-align: center;
        color: white;
        margin: 0 20px 10px;
        text-transform: uppercase;
    }
    &__nav{
        display: flex;
        &__link{
            @include main-link(white, 20px);
            margin: 0 30px;
        }
    }

    &__buttons{
        display: flex;
        align-items: center;
        .forgotPassword{
            @include main-link(white, 20px);
            margin-left: 50px;
        }
    }
}


@media(max-width: 850px){
    .welcome__back{
        width: 50px;
        height: 50px;
        left: initial;
        top: initial;
        bottom: 30px;
        right: 30px;
    }
}

@media(max-width: 590px){
    .welcome__title{
        font-size: 50px;
    }

    .welcome__success{
        width: 90%;
        margin: 0 auto 20px;
        min-width: initial;
        text-align: center;
    }

    .welcome__desc{
        font-size: 16px;
    }

    .welcome__container{
        padding: 0;
    }
}
