@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap);.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9F9F9;
}

.container {
  margin-left: 140px;
  padding: 100px 0;
}

.welcome {
  background-color: #1D1D1D;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.welcome__title {
  font-size: 68px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.welcome__nav {
  display: flex;
}

.welcome__nav__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 30px;
}

.welcome__nav__link::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.welcome__nav__link:hover::after,
.welcome__nav__link:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.form {
  display: block;
  width: 100%;
  padding: 0 71px;
  box-sizing: border-box;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.form__item {
  border-bottom: 2px solid white;
  position: relative;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.form__item__label {
  color: white;
  font-size: 20px;
  padding-right: 70px;
}

.form__item__input {
  outline: none;
  font-size: 20px;
  background-color: initial;
  border: none;
  color: white;
  flex: 1 1 auto;
}

.form__item__input:focus ~ .form__item__bgc {
  top: 0;
  transition: all 0.2s;
}

.form__item__bgc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s;
}

.form__item__error {
  position: absolute;
  bottom: -27px;
  left: 0;
  color: indianred;
}

.form .btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: initial;
  display: inline-block;
  border: none;
  outline: none;
  margin-left: 13px;
}

.form .btn::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.form .btn:hover::after,
.form .btn:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.nav {
  background-color: #1D1D1D;
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px 0;
}

.nav__logo {
  position: relative;
  left: -1px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.nav__link {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.nav__link span {
  display: none;
  margin-left: 20px;
}

.nav__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

.nav__link.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav__link .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.nav__link.disconnect .icon {
  background-image: url(/images/logout.svg?b46e5f203c8d3d477a323bc8e29b5122);
}

.nav__link.meet .icon {
  background-image: url(/images/watch.svg?5cb8eeb933a35d58506d871f8aeeb469);
}

.nav__link.schedule .icon {
  background-image: url(/images/calendar.svg?d800687ec098964d281704bb7c22e6e7);
}

.nav__link.user .icon {
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
}

.nav__burger {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 60px;
  cursor: pointer;
}

.nav__burger span {
  display: block;
  position: absolute;
  left: 14px;
  height: 2px;
  width: 30px;
  background-color: white;
  top: calc(50% - 1px);
}

.nav__burger span.top {
  top: calc(50% - 11px);
}

.nav__burger span.bottom {
  top: calc(50% + 9px);
}

.nav__burger:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  font-weight: bold;
  font-size: 22px;
  box-sizing: border-box;
  background-color: #1D1D1D;
  padding: 14px;
  text-align: right;
}

.header__title {
  color: white;
}

.userProfil {
  width: 550px;
  margin-bottom: 50px;
}

.userProfil__name {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 5px;
}

.userProfil__job {
  font-size: 30px;
  margin-bottom: 15px;
  display: block;
}

.userProfil__infos {
  margin-left: 4px;
  padding: 20px;
  border-left: 4px solid #1D1D1D;
}

.userProfil__info {
  margin-bottom: 15px;
}

.userProfil__info__label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.userProfil__info__content {
  line-height: 1.5;
}

.userProfil__info--buttons {
  margin-top: 30px;
}

.radioButton {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radioButton__bgc {
  display: block;
  position: relative;
  width: 40px;
  height: 22px;
  background-color: red;
  border-radius: 11px;
  transition: background-color 0.2s;
  margin-right: 20px;
  cursor: pointer;
}

.radioButton__dot {
  width: 18px;
  height: 18px;
  background-color: white;
  position: absolute;
  border-radius: 9px;
  left: 2px;
  top: calc(50% - 9px);
  transition: left 0.2s;
  cursor: pointer;
}

.radioButton__label {
  cursor: pointer;
}

.radioButton__input:checked ~ .radioButton__bgc {
  background-color: green;
  transition: background-color 0.2s;
}

.radioButton__input:checked ~ .radioButton__bgc .radioButton__dot {
  left: calc(100% - 20px);
  transition: left 0.2s;
}

.comments {
  width: 550px;
}

.comments__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comments .comment {
  position: relative;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  padding: 40px 70px;
  box-sizing: border-box;
}

.comments .comment__owner {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}

.comments .comment__content {
  line-height: 1.5;
}

.comments .comment__ownerImg {
  background-color: #1D1D1D;
  width: 90px;
  height: 90px;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
  background-size: 50%;
  background-position: center 47%;
  background-repeat: no-repeat;
}

