@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap);.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9F9F9;
}

body.freeze {
  overflow: hidden;
}

.container {
  margin: 0 70px 0 140px;
  padding: 100px 0;
}

.modifyIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  background: url(/images/edit.svg?eea18703d306b9c8ec78595ecf673e27);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.error {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: indianred;
  color: white;
  padding: 20px;
  padding-right: 60px;
}

.error__cross {
  position: absolute;
  top: calc(50% - 5px);
  right: 20px;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(/images/close.svg?9987510185410f2f4e6d97767cd483c5);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 700px) {
  .container {
    margin: 0 70px;
  }
}

@media (max-width: 520px) {
  .container {
    margin: 0 10px;
  }
}

.welcome {
  background-color: #1D1D1D;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.welcome__desc {
  color: white;
  font-size: 20px;
  margin: 0 40px 40px;
  text-align: center;
  line-height: 1.5;
}

.welcome__infos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1D1D1D;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.welcome__infos:hover {
  background-color: white;
  transition: background-color 0.3s;
}

.welcome__bgc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

.welcome__bgc img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.welcome__container {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.welcome__back {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 30px;
  left: 75px;
  background-image: url(/images/back-white.svg?329af0bc12e6568f5c18c45224f45f7b);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.welcome__back:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.welcome__title {
  font-size: 68px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.welcome__nav {
  display: flex;
}

.welcome__nav__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 30px;
}

.welcome__nav__link::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.welcome__nav__link:hover::after,
.welcome__nav__link:focus::after {
  width: 100%;
  transition: all 0.2s;
}

@media (max-width: 850px) {
  .welcome__back {
    width: 50px;
    height: 50px;
    left: initial;
    top: initial;
    bottom: 30px;
    right: 30px;
  }
}

@media (max-width: 530px) {
  .welcome__title {
    font-size: 50px;
  }

  .welcome__container {
    padding: 0;
  }
}

.form {
  display: block;
  width: 100%;
  padding: 0 71px;
  box-sizing: border-box;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.form__item {
  border-bottom: 2px solid white;
  position: relative;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.form__item__label {
  color: white;
  font-size: 20px;
  padding-right: 70px;
}

.form__item__input {
  outline: none;
  font-size: 20px;
  background-color: initial;
  border: none;
  color: white;
  flex: 1 1 auto;
}

.form__item__input:focus ~ .form__item__bgc {
  top: 0;
  transition: all 0.2s;
}

.form__item__bgc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s;
}

.form__item__error {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  color: indianred;
  font-size: 12px;
}

.form .btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: initial;
  display: inline-block;
  border: none;
  outline: none;
  margin-left: 13px;
}

.form .btn::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.form .btn:hover::after,
.form .btn:focus::after {
  width: 100%;
  transition: all 0.2s;
}

@media (max-width: 600px) {
  .form {
    padding: 0 20px;
  }

  .form__container {
    display: block;
  }

  .form__item {
    margin-top: 30px;
  }
}

.nav {
  position: fixed;
  display: flex;
  z-index: 99;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 56px 0 10px;
}

.nav.black {
  background-color: #1D1D1D;
}

.nav.green {
  background-color: #1d411d;
}

.nav.red {
  background-color: #712727;
}

.nav.brown {
  background-color: #c97f51;
}

.nav__link {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.nav__link span {
  display: none;
  margin-left: 20px;
}

.nav__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

.nav__link.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav__link .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.nav__link.disconnect .icon {
  background-image: url(/images/logout.svg?b46e5f203c8d3d477a323bc8e29b5122);
}

.nav__link.meet .icon {
  background-image: url(/images/watch.svg?5cb8eeb933a35d58506d871f8aeeb469);
}

.nav__link.schedule .icon {
  background-image: url(/images/calendar.svg?d800687ec098964d281704bb7c22e6e7);
}

.nav__link.user .icon {
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
}

.nav__link.praticiens .icon {
  background-image: url(/images/search.svg?ae3eb27599093561330a2e75e55c27fc);
}

.nav__link.stat .icon {
  background-image: url(/images/report-white.svg?68e2a49a3f9670942ff7cf1bf4938e0f);
}

.nav__link.report .icon {
  background-image: url(/images/warning-white.svg?c8fcd650d0ae2965e81114e60e568cb7);
}

.nav__burger {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 60px;
  cursor: pointer;
}

.nav__burger span {
  display: block;
  position: absolute;
  left: 14px;
  height: 2px;
  width: 30px;
  background-color: white;
  top: calc(50% - 1px);
}

.nav__burger span.top {
  top: calc(50% - 11px);
}

.nav__burger span.bottom {
  top: calc(50% + 9px);
}

.nav__burger:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

.nav.open .nav__link span {
  display: block;
}

.responsive__burger {
  display: none;
  z-index: 100;
  width: 50px;
  height: 50px;
  background-color: #1D1D1D;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0 4px 4px 0;
  position: fixed;
  bottom: 30px;
  left: 0;
  padding: 0;
  transition: padding 0.2s;
  cursor: pointer;
}

.responsive__burger:hover {
  padding: 0 5px;
  transition: padding 0.2s;
}

.responsive__burger span {
  display: block;
  position: absolute;
  left: calc(50% - 12.5px);
  height: 2px;
  width: 25px;
  background-color: white;
  top: calc(50% - 1px);
}

.responsive__burger span.top {
  top: calc(50% - 11px);
}

.responsive__burger span.bottom {
  top: calc(50% + 9px);
}

@media (max-width: 700px) {
  .nav {
    width: 200px;
    left: -200px;
    transition: left 0.2s;
  }

  .nav__burger {
    display: none;
  }

  .nav.responsive__open {
    left: 0;
    transition: left 0.2s;
  }

  .nav__link span {
    display: block;
  }

  .responsive__burger {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  box-sizing: border-box;
  padding: 14px;
}

.header.black {
  background-color: #1D1D1D;
}

.header.green {
  background-color: #1d411d;
}

.header.red {
  background-color: #712727;
}

.header.brown {
  background-color: #c97f51;
}

.header__logo {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.header__logo a {
  color: white;
  text-decoration: none;
}

.header__title {
  color: white;
}

.userProfil {
  width: 550px;
  margin-bottom: 50px;
}

.userProfil__img--true {
  width: 100px;
  height: 100px;
  background-color: #1D1D1D;
  display: block;
  float: left;
  border-radius: 50%;
  position: relative;
  margin-left: -45px;
}

.userProfil__img--true .cross__first {
  display: block;
  width: 40px;
  height: 3px;
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 20px);
  background-color: white;
}

.userProfil__img--true .cross__second {
  display: block;
  width: 40px;
  height: 3px;
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 20px);
  background-color: white;
  transform: rotate(90deg);
}

.userProfil__pic {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 50%;
  position: relative;
  margin-left: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #1D1D1D;
  background: white;
}

.userProfil__pic img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.userProfil__img--false {
  width: 100px;
  height: 100px;
  background-color: #1D1D1D;
  display: block;
  float: left;
  border-radius: 50%;
  position: relative;
  margin-left: -45px;
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
  background-size: 50%;
  background-position: center 47%;
  background-repeat: no-repeat;
}

.userProfil__name {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 5px;
  padding-top: 10px;
  margin-left: 70px;
}

.userProfil__job {
  font-size: 30px;
  margin-bottom: 15px;
  display: block;
  margin-left: 70px;
}

.userProfil__infos {
  margin-left: 4px;
  padding: 20px;
  border-left: 4px solid #1D1D1D;
  margin-top: 30px;
}

.userProfil__info {
  margin-bottom: 15px;
}

.userProfil__info__label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.userProfil__info__content {
  line-height: 1.5;
}

.userProfil__info--buttons {
  margin-top: 30px;
}

.userProfil__info__colorPicker {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.userProfil__info__colorPicker .color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid white;
}

.userProfil__info__colorPicker .color:hover {
  cursor: pointer;
  border: 2px solid #1D1D1D;
}

.userProfil__info__colorPicker .color.selected {
  border: 2px solid #1D1D1D;
}

.userProfil__info__colorPicker .color.black {
  background-color: #1D1D1D;
}

.userProfil__info__colorPicker .color.green {
  background-color: #1d411d;
}

.userProfil__info__colorPicker .color.red {
  background-color: #712727;
}

.userProfil__info__colorPicker .color.brown {
  background-color: #c97f51;
}

@media (max-width: 1050px) {
  .userProfil {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .userProfil__img--true {
    float: none;
    margin: 0 auto;
  }

  .userProfil__img--false {
    float: none;
    margin: 0 auto;
  }

  .userProfil__pic {
    float: none;
    margin: 0 auto;
  }

  .userProfil__name {
    text-align: center;
    margin-left: 0;
  }

  .userProfil__job {
    text-align: center;
    margin-left: 0;
  }
}

.radioButton {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radioButton__bgc {
  display: block;
  position: relative;
  width: 40px;
  height: 22px;
  background-color: red;
  border-radius: 11px;
  transition: background-color 0.2s;
  margin-right: 20px;
  cursor: pointer;
}

.radioButton__dot {
  width: 18px;
  height: 18px;
  background-color: white;
  position: absolute;
  border-radius: 9px;
  left: 2px;
  top: calc(50% - 9px);
  transition: left 0.2s;
  cursor: pointer;
}

.radioButton__label {
  cursor: pointer;
}

.radioButton__input:checked ~ .radioButton__bgc {
  background-color: green;
  transition: background-color 0.2s;
}

.radioButton__input:checked ~ .radioButton__bgc .radioButton__dot {
  left: calc(100% - 20px);
  transition: left 0.2s;
}

.comments {
  width: 550px;
}

.comments__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comments__empty {
  margin-bottom: 30px;
}

.comments .comment {
  position: relative;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  padding: 40px 70px;
  box-sizing: border-box;
}

.comments .comment__owner {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}

.comments .comment__content {
  line-height: 1.5;
}

.comments .comment__ownerImg {
  background-color: #1D1D1D;
  width: 90px;
  height: 90px;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
  background-size: 50%;
  background-position: center 47%;
  background-repeat: no-repeat;
}

.comments .comment__ownerImg--true {
  width: 90px;
  height: 90px;
  background: white;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  border: 2px solid #1D1D1D;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.comments .comment__ownerImg--true img {
  width: 100%;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.addComment {
  width: 550px;
  margin-top: 50px;
}

.addComment__label {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.addComment__textarea {
  resize: vertical;
  width: 100%;
  display: block;
  border: none;
  background-color: #1D1D1D;
  color: white;
  font-size: 17px;
  box-sizing: border-box;
  padding: 15px;
  outline: none;
  min-height: 150px;
  margin-bottom: 30px;
}

.addComment__button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: initial;
  border: none;
  margin-left: 15px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.addComment__button::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: black;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.addComment__button:hover::after,
.addComment__button:focus::after {
  width: 100%;
  transition: all 0.2s;
}

@media (max-width: 1050px) {
  .comments {
    width: 100%;
  }

  .addComment {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .comments .comment {
    padding: 50px 30px;
  }

  .comments .comment__ownerImg {
    display: none;
  }

  .comments .comment__ownerImg--true {
    display: none;
  }
}

.userCards {
  width: 550px;
}

.userCards .userCard {
  position: relative;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 50px 70px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.userCards .userCard__img {
  background-color: #1D1D1D;
  width: 90px;
  height: 90px;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
  background-size: 50%;
  background-position: center 47%;
  background-repeat: no-repeat;
}

.userCards .userCard__img--true {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  border: 2px solid #1D1D1D;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: white;
}

.userCards .userCard__img--true img {
  width: 100%;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.userCards .userCard__name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.userCards .userCard__name a {
  color: #1D1D1D;
  text-decoration: none;
  transition: color 0.2S;
}

.userCards .userCard__name a:hover {
  color: rgba(29, 29, 29, 0.5);
  transition: color 0.2S;
}

.userCards .userCard__job {
  margin-bottom: 20px;
  font-size: 20px;
}

.userCards .userCard__icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.userCards .userCard__icons__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: initial;
  transition: background-color 0.2s;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.userCards .userCard__icons__link--schedule {
  background-image: url(/images/calendar-black.svg?b4823222dc201af1615003df96faef37);
}

.userCards .userCard__icons__link--phone {
  background-image: url(/images/phone.svg?c667501bf6d7214e120e3461bd206131);
}

.userCards .userCard__icons__link--mail {
  background-image: url(/images/chat.svg?187c8efb5e476165e1ad7af88fdf5f61);
}

.userCards .userCard__icons__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

@media (max-width: 1050px) {
  .userCards {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .userCards .userCard {
    padding: 50px 30px;
  }

  .userCards .userCard__img {
    display: none;
  }

  .userCards .userCard__img--true {
    display: none;
  }
}

.aside {
  width: 274px;
  box-sizing: border-box;
  position: fixed;
  padding: 30px 0;
  top: 100px;
  right: 70px;
  color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.aside.black {
  background-color: #1D1D1D;
}

.aside.green {
  background-color: #1d411d;
}

.aside.red {
  background-color: #712727;
}

.aside.brown {
  background-color: #c97f51;
}

.aside__bgc {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.aside__bgc.close {
  display: none;
}

.aside__error {
  padding: 10px 40px;
  background-color: rgba(255, 0, 0, 0.3);
  line-height: 1.5;
  box-sizing: border-box;
  margin: 20px 0 20px;
}

.aside .filter__title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  margin-bottom: 30px;
}

.aside .filter__name__job div {
  padding: 20px 30px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.aside .filter__name__job div.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.aside .filter__name__job div:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

.aside .filter__input {
  outline: none;
  font-size: 20px;
  background-color: initial;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  display: block;
  margin: 10px 30px;
  box-sizing: border-box;
  padding: 10px;
  box-sizing: border-box;
}

.aside__title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  margin-bottom: 30px;
}

.aside__list {
  margin: 30px 0;
}

.aside__list__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.aside__list li {
  position: relative;
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.aside__list li div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.aside__list li span {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.aside__user__infos {
  margin-bottom: 20px;
}

.aside__user__infos__name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.aside__user__infos__schedule {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.aside__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
  margin-left: 30px;
}

.aside__link::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.aside__link:hover::after,
.aside__link:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.aside__link.sendDate {
  margin-top: 30px;
}

.aside__link.save {
  margin-top: 30px;
  font-size: 15px;
}

.aside__explanation {
  padding: 30px 30px 20px;
  line-height: 1.5;
  font-size: 14px;
}

.aside__button {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #1D1D1D;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 4px 0 0 4px;
  position: fixed;
  bottom: 30px;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
  padding: 0;
  transition: padding 0.2s;
  cursor: pointer;
}

.aside__button.schedule {
  background-image: url(/images/calendar.svg?d800687ec098964d281704bb7c22e6e7);
}

.aside__button.filter {
  background-image: url(/images/tool.svg?0ffa1350903dc5b1f52639e166f5bfd7);
}

.aside__button:hover {
  padding: 0 5px;
  transition: padding 0.2s;
}

.aside__close {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-image: url(/images/close.svg?9987510185410f2f4e6d97767cd483c5);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.aside__date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.aside__date div {
  margin: 0 20px;
}

.aside__date span {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(/images/back-white.svg?329af0bc12e6568f5c18c45224f45f7b);
  background-size: 100%;
}

.aside__date span.aside__date__next {
  transform: rotate(180deg);
}

.aside__days__ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.aside__days__ul li {
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.aside__days__ul li.active {
  background-color: grey;
}

.aside__days__ul li:hover {
  background-color: grey;
}

@media (max-width: 1050px) {
  .aside {
    position: fixed;
    height: 100vh;
    right: 0px;
    top: 0;
    padding-top: 75px;
    transition: right 0.2s;
  }

  .aside.close {
    right: -275px;
    transition: right 0.2s;
  }

  .aside__button {
    display: block;
  }
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.popup.open {
  display: flex;
}

.popup__window {
  position: relative;
  background-color: #1D1D1D;
  padding: 20px;
}

.popup__window--schedule {
  width: 500px;
}

.popup__window--schedule__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.popup__window--schedule__hour {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.popup__window--schedule__links {
  display: flex;
  justify-content: center;
}

.popup__window--schedule__links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 50px;
}

.popup__window--schedule__links a::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.popup__window--schedule__links a:hover::after,
.popup__window--schedule__links a:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.popup__window__label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.popup__window__input {
  display: block;
  padding: 10px 10px;
  outline: none;
  border: none;
  font-size: 16px;
  width: 500px;
  margin-top: 20px;
}

.popup__window__textarea {
  border: none;
  display: block;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 10px;
  width: 500px;
  resize: vertical;
  min-height: 80px;
}

.popup__window__save {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: initial;
  border: none;
  margin-top: 20px;
  margin-left: 15px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.popup__window__save::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.popup__window__save:hover::after,
.popup__window__save:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.popup__window__close {
  position: absolute;
  top: 0;
  right: 0;
}

.popup__window__close--cross {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(/images/close.svg?9987510185410f2f4e6d97767cd483c5);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 590px) {
  .popup {
    box-sizing: border-box;
    padding: 10px;
  }

  .popup__window {
    width: 100%;
  }

  .popup__window__input {
    width: 100%;
    box-sizing: border-box;
  }

  .popup__window__textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

.newSchedule {
  width: 550px;
}

.newSchedule__explanation {
  padding: 40px;
  background-color: rgba(255, 255, 0, 0.3);
  line-height: 1.5;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.newSchedule__error {
  padding: 20px 40px;
  background-color: rgba(255, 0, 0, 0.3);
  line-height: 1.5;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.newSchedule__fulltime {
  padding: 20px 40px;
  background-color: rgba(0, 128, 0, 0.3);
  line-height: 1.5;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.newSchedule__day {
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  transition: height 0.2s;
}

.newSchedule__day.open {
  height: 100%;
  transition: height 0.2s;
}

.newSchedule__day.open .newSchedule__day__hours {
  display: block;
}

.newSchedule__day__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.newSchedule__day__hours {
  margin-top: 20px;
  display: none;
}

.newSchedule__day__hours__group {
  margin-bottom: 25px;
}

.newSchedule__day__hours__group__inputs {
  display: flex;
  align-items: center;
}

.newSchedule__day__hours__group__radio {
  display: flex;
  flex-wrap: wrap;
}

.newSchedule__day__hours__group__radio .radios {
  margin-right: 10px;
  margin-bottom: 10px;
}

.newSchedule__day__hours__group__radio .radios input:checked ~ .radios__dot {
  background-color: #1D1D1D;
}

.newSchedule__day__hours__group__radio .radios__dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #1D1D1D;
  border-radius: 50%;
  margin-right: 5px;
}

.newSchedule__day__hours__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.newSchedule__day .radioButton {
  margin-bottom: 0;
}

.newSchedule__day .radioButton__bgc {
  margin-right: 0;
}

.newSchedule__input {
  border: none;
  padding: 10px;
  background-color: rgba(29, 29, 29, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.newSchedule__sign {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(/images/back.svg?2f02a21a34054ddba3ac1abda0e0a41d);
  transform: rotate(180deg);
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 1050px) {
  .newSchedule {
    width: 100%;
  }
}

.emptyDay {
  width: 550px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 0, 0.3);
  line-height: 1.5;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.schedule__list {
  width: 550px;
  margin-bottom: 80px;
}

.schedule__list li {
  color: #1D1D1D;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
}

.schedule__list__hour {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  width: 100px;
  margin-right: 15px;
}

.schedule__list__appointment {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  flex: 1 1 auto;
  cursor: pointer;
}

.schedule__list__appointment.myAppointment {
  background-color: #73ab73;
  position: relative;
}

.schedule__list__appointment.myAppointment a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.schedule__list__appointment.myAppointment .cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.schedule__list__appointment.myAppointment .cross div {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: calc(50% - 1px);
}

.schedule__list__appointment.myAppointment .cross div.first {
  transform: rotate(45deg);
}

.schedule__list__appointment.myAppointment .cross div.second {
  transform: rotate(-45deg);
}

.schedule__list__appointment.false {
  display: none;
}

@media (max-width: 1050px) {
  .emptyDay {
    width: 100%;
  }

  .schedule__list {
    width: 100%;
  }
}

.appointments {
  width: 550px;
}

.appointments .appointment {
  position: relative;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 50px 70px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.appointments .appointment__img {
  background-color: #1D1D1D;
  width: 90px;
  height: 90px;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  background-image: url(/images/user.svg?27bdbdfccf34048eca96ff049cc40f6e);
  background-size: 50%;
  background-position: center 47%;
  background-repeat: no-repeat;
}

.appointments .appointment__img--true {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -45px;
  top: calc(50% - 45px);
  border-radius: 50%;
  border: 2px solid #1D1D1D;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: white;
}

.appointments .appointment__img--true img {
  width: 100%;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.appointments .appointment__infos__name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.appointments .appointment__infos__name a {
  text-decoration: none;
  color: #1D1D1D;
  transition: opacity 0.2s;
}

.appointments .appointment__infos__name a:hover {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.appointments .appointment__infos__job {
  margin-bottom: 20px;
}

.appointments .appointment__infos__date {
  font-size: 20px;
}

.appointments .appointment__icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.appointments .appointment__icons__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: initial;
  transition: background-color 0.2s;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.appointments .appointment__icons__link--schedule {
  background-image: url(/images/calendar-black.svg?b4823222dc201af1615003df96faef37);
}

.appointments .appointment__icons__link--phone {
  background-image: url(/images/phone.svg?c667501bf6d7214e120e3461bd206131);
}

.appointments .appointment__icons__link--mail {
  background-image: url(/images/chat.svg?187c8efb5e476165e1ad7af88fdf5f61);
}

.appointments .appointment__icons__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.emptyAppointment {
  width: 550px;
}

.emptyAppointment__content {
  padding: 40px;
  background-color: rgba(255, 255, 0, 0.3);
  line-height: 1.5;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.emptyAppointment__buttons {
  display: flex;
  justify-content: center;
}

.emptyAppointment__buttons a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 50px;
}

.emptyAppointment__buttons a::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: black;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.emptyAppointment__buttons a:hover::after,
.emptyAppointment__buttons a:focus::after {
  width: 100%;
  transition: all 0.2s;
}

@media (max-width: 1050px) {
  .appointments {
    width: 100%;
  }

  .emptyAppointment {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .appointments .appointment {
    padding: 50px 30px;
  }

  .appointments .appointment__img {
    display: none;
  }

  .appointments .appointment__img--true {
    display: none;
  }
}

.infos {
  padding: 100px 0 50px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.infos__section {
  margin-bottom: 100px;
}

.infos__section__img {
  width: 550px;
  float: left;
  margin-right: 30px;
}

.infos__section__overflow {
  overflow: hidden;
  margin-bottom: 50px;
}

.infos__section__title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}

.infos__section__content {
  padding-top: 20px;
}

.infos__section__content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.infos__section__content p {
  line-height: 1.5;
}

.infos__section__content p b {
  font-weight: bold;
}

.infos__container {
  margin: 0 20px;
}

.redirect {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.redirect__link {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 30px;
  margin: 0 30px;
}

.redirect__link::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: #1D1D1D;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.redirect__link:hover::after,
.redirect__link:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.bgc__logo {
  position: fixed;
  width: 100%;
  opacity: 0.1;
  z-index: -1;
  height: 100vh;
  top: 0;
  left: 0;
}

.bgc__logo.praticiens {
  background-image: url(/images/search-black.svg?9b387d9d9e98727b43169a2da1dbd843);
  background-size: 700px;
  background-position: top right;
  background-repeat: no-repeat;
}

.bgc__logo.praticien {
  background-image: url(/images/user-black.svg?9b546a6f50c0334c651f5fdc4473b941);
  background-size: 650px;
  background-position: top right;
  background-repeat: no-repeat;
}

.bgc__logo.schedule {
  background-image: url(/images/calendar-black.svg?b4823222dc201af1615003df96faef37);
  background-size: 650px;
  background-position: top right;
  background-repeat: no-repeat;
}

.bgc__logo.meet {
  background-image: url(/images/watch-black.svg?a5a15b76c694558005b0eccb0332058d);
  background-size: 700px;
  background-position: top right;
  background-repeat: no-repeat;
}

