@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.welcome {
  background-color: #1D1D1D;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.welcome__title {
  font-size: 68px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.welcome__nav {
  display: flex;
}

.welcome__nav__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 30px;
}

.welcome__nav__link::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.welcome__nav__link:hover::after,
.welcome__nav__link:focus::after {
  width: 100%;
  transition: all 0.2s;
}

.form {
  display: block;
  width: 100%;
  padding: 0 71px;
  box-sizing: border-box;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.form__item {
  border-bottom: 2px solid white;
  position: relative;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.form__item__label {
  color: white;
  font-size: 20px;
  padding-right: 70px;
}

.form__item__input {
  outline: none;
  font-size: 20px;
  background-color: initial;
  border: none;
  color: white;
  flex: 1 1 auto;
}

.form__item__input:focus ~ .form__item__bgc {
  top: 0;
  transition: all 0.2s;
}

.form__item__bgc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s;
}

.form__item__error {
  position: absolute;
  bottom: -27px;
  left: 0;
  color: indianred;
}

.form .btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: initial;
  display: inline-block;
  border: none;
  outline: none;
  margin-left: 13px;
}

.form .btn::after {
  margin-top: 10px;
  position: relative;
  left: -20px;
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 50%;
  transition: all 0.2s;
}

.form .btn:hover::after,
.form .btn:focus::after {
  width: 100%;
  transition: all 0.2s;
}

