body{
    font-family: $font-family-sans-serif;
    background-color: $bgc-color;
    &.freeze{
        overflow: hidden;
    }
}

.container{
    margin: 0 70px 0 140px;
    padding: 100px 0;
}

.modifyIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background: url('../../img/edit.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

@media(max-width: 700px){
    .container{
        margin: 0 70px;
    }
}


@media(max-width: 520px){
    .container{
        margin: 0 10px;
    }
}
